[submodule ".registry"]
	path = .registry
	url = https://github.com/avehtari/avehtari.r-universe.dev
	branch = HEAD
[submodule "aaltobda"]
	path = aaltobda
	url = https://github.com/avehtari/BDA_course_Aalto
	subdir = rpackage
